body {
	height: 100%;
}
.stats {
  min-height: 100%;
  height: auto;
  margin-top: 15px;
}
.footer {
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
.container .text-muted {
  margin: 20px 0;
}